@charset "UTF-8";

/*  共通部分
---------------*/
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}
a {
  text-decoration: none;
  color: #432;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.button {
  border-radius: 5px;
  font-weight: bold;
}

/* ヘッダー
---------------*/
header {
  height: 80px;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
}
.header-left {
  display: flex;
}
.header-left ul {
  display: flex;
}
.header-left li{
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-right {
  margin-right: 50px;
  background: gray;
}
.header-right ul {
  display: flex;
}
.header-right li{
  padding: 30px 15px;
  display: flex;
  /* justify-content: center; */
  background: green;
}
.expected-monthly-income-button {
  width: 20px;
}
.expected-monthly-income {
  line-height: 1;
  font-size: 1.25rem;
  font-weight: bolder;
}
.button-li {
  background: skyblue;
  height: 100%;
}
.header-button {
  display: inline-block;
  color: white;
  background: red;
}
