@charset "UTF-8";

/* top-bg */
.top-bg {
  background-image: url(https://a0.muscache.com/pictures/fe406606-ff51-4b7f-8095-16f2c720bb03.jpg);
  min-height: 83vh;
  background-size: cover;
}
.top-bg-container {
  float: right;
  margin: 78px 78px 0 0;
  width: 450px;
  height: 600px;
}
.top-main {
  height: 480px;
  width: 100%;
  border-radius: 5px;
  background: white;
  padding: 25px;
}
.top-main-title {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;
}
.reward-estimated{
  font-weight: bold;
  margin-top: 20px;
}
.user-address {
  margin-top: 20px;
  width: 100%;
}
.customer-info {
  display: flex;
  margin-top: 10px;
}
.room-type {
  width: 60%;
  margin-right: 10px;
}
.number-of-gest {
  width: 40%;
}
.top-sub {
  border-radius: 5px;
}
.income-box {
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 10px;
}
.income {
  font-weight: bold;
  font-size: 2.25rem;
}
.per-month {
  font-size: 1rem;
  padding-top: 10px;
  margin-left: 15px;
}
.per-months-button {
  padding-top: 12px;
  display: flex;
  align-items: center;
}
.top-main-button a {
  display: flex;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 1.3rem;
  padding: 8px 0 10px 0;
  background: red;
}

/* airbnb-info
--------------- */
.airbnb-info {
  display: flex;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.airbnb-info h3 {
  font-size: 1.4rem;
  letter-spacing: .05rem;
}
.airbnb-info p {
  margin-top: 20px;
  line-height: 1.3;
}
.airbnb-info-left {
  margin-right: 80px;
}

/* hosting-step
--------------- */
.hosting-step {
  height: 550px;
}
.hosting-step .container {
  display: flex;
}
.hosting-step-section {
  margin: 30px 10px;
  height: 500px;
  width: 500px;
}
.section-num {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(59, 133, 115);
  position: relative;
}
.section-num p {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%));
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
}
.hosting-step-section h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}
.section-description {
  margin-top: 10px;
  line-height: 1.25;
  font-size: 1.1rem;
}
.hosting-step-section a:hover {
  text-decoration: underline;
}

/* host-practice-sample
--------------- */
.host-practice-sample {
  height: 700px;
}
.host-practice-sample .container {
  display: flex;
}
.host-practice-sample-left {
  width: 38%;
}
.host-practice-sample-right {
  width: 50%;
}
.host-practice-sample-left blockquote {
  font-size: 2rem;
}
.host-practice-sample-left p {
  margin-top: 5px;
}
.host-practice-sample-right {
  margin-left: 100px;
  background-image: url(../images/home/8e6c68cc-e714-4849-bad9-464abf58e84a.jpg);
  background-size: cover;
}
.security {
  margin-bottom: 50px;
}
.security .container {
  display: flex;
  height: 300px;
}
.security-left p {
  margin-bottom: 20px;
}
.security-right {
  margin-left: 80px;
}
.security-right li {
  margin-bottom: 5px;
}
.security-right .fa-check{
  padding-right: 20px;
}
.host-img {
  height: 580px;
  width: 75%;
  background-image: url(../images/home/bb358a46-fa25-4895-b5fd-048a386bdcac.jpg);
  background-size: cover;
}

.easy-payment {
  margin-top: 180px;
  height: 430px;
}
.easy-payment .container {
  display: flex;
  margin-top: 20px;
}
.easy-payment .container h3 {
  font-size: 1.5rem;
}
.easy-payment .container p {
  margin-top: 20px;
  line-height: 1.3;
}
.easy-payment-item {
  margin-right: 60px;
}
.prompt-payment {
  margin-bottom: 20px;
}

/* hosting-sample
--------------- */
.hosting-sample {
  height: 600px;
}
.hosting-sample .container {
  display: flex;
}
.hosting-sample-left {
  height: 530px;
  width: 52%;
  background-image: url(../images/home/4e8524b4-205e-4fdf-9f0a-f1f36905c8f6.jpg);
  background-size: cover;
}
.hosting-sample-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 80px;
}
.hosting-sample-right blockquote {
  font-size: 2rem;
}

/* member-shared-dream
--------------- */
.member-shared-dream {
  margin-top: 20px;
  height: 350px;
}
.member-shared-dream .container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.host-count {
  font-size: 3.5rem;
  text-align: center;
}
.host-count-supplement {
  text-align: center;
}

/* airbnb-about
--------------- */
.airbnb-about {
  margin-top: 50px;
  height: 300px;
}
