@charset "UTF-8";

/* top-bg */
.top-bg {
  background-image: url(https://a0.muscache.com/4ea/air/v2/pictures/9d08d356-59b9-4ac4-9f41-5b9c13c2b211.jpg?t=r:w1440-h960-sfit,e:fwebp-c75);
  min-height: 100vh;
  position: relative;
}
.top-bg-container {
  float: right;
  margin-top: 50px;
  width: 450px;
  height: 500px;
}
.top-main {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: white;
}
.top-sub {
  border-radius: 5px;
}
