@charset "UTF-8";

/* top-bg */
.top-bg {
  background-image: url(https://a0.muscache.com/4ea/air/v2/pictures/9d08d356-59b9-4ac4-9f41-5b9c13c2b211.jpg?t=r:w1440-h960-sfit,e:fwebp-c75);
  min-height: 100vh;
  position: relative;
}
.top-bg-container {
  float: right;
  margin: 78px 78px 0 0;
  width: 450px;
  height: 600px;
}
.top-main {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: white;
  padding: 25px;
}
.top-main h1 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;
}
.top-main p {
  font-weight: bold;
  margin-top: 20px;
}
.user-address {
  margin-top: 20px;
  width: 100%;
}
.customer-info {
  display: flex;
  margin-top: 10px;
}
.room-type {
  width: 60%;
  margin-right: 10px;
}
.number-of-gest {
  width: 40%;
}

.top-sub {
  border-radius: 5px;
}
